.services{
    text-align: center;
    padding-bottom: 100px;
    h2{
        margin-bottom: 60px;
    }
    div{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 375px){
            flex-direction: column;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 30%;
            padding: 46px 50px 0;
            background: #222;
            height: 325px;
            &:hover{
                border-bottom: 3px $pink solid;
            }
            @media screen and (max-width: 375px){
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
}