.work-with-us{
    text-align: center;
    background: url(../img/ctc-bg.jpg);
    padding-bottom: 100px;
    h2{
        margin-bottom: 20px;
    }
    p{
        margin-bottom: 45px;
        line-height: 26px;
        color: #fff;
    }
}