footer{
    padding-bottom: 100px;
    & > div{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 375px){
            flex-direction: column;
        }
        div {
            flex-basis: 22%;
            @media screen and (max-width: 375px){
                margin-bottom: 30px;
            }
        }
    }
    h6{
        margin-bottom: 30px;
    }
    p{
        line-height: 30px;
        margin: 0;
    }
    .contact{
        img{
            margin-bottom: 30px;
        }
        .socials{
            display: flex;
            a{
                margin-top: 12px;
                width: 41px;
                height: 41px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #303030;
                border-radius: 50%;
                color: #fff;
                margin-right: 8px;
                &:hover{
                    background: $pink;
                }
            }
        }
    }
    .menu-bottom{
        a{
            color: #b3b3b3;
            line-height: 36px;
            font-weight: 400;
        }
    }
    input{
        border: 1px solid #707070;
        color: #b3b3b3;
        background: #191919;
        width: 100%; height: 46px;
        padding-left: 25px;
        margin-top: 18px; margin-bottom: 10px;
    }
    button{
        margin: 0;
        padding: 12px 0;
        border: none;
    }
    .instagram div{
        display:flex;
        flex-wrap: wrap;
        img{
            margin-right: 5px;
            margin-bottom: 5px;
            border-radius: 2px;
        }
    }
    p:last-child{
        margin-top: 40px;
        text-align: center;
        span{
            color: $pink;
        }
    }
}